  
  @import url(http://fonts.googleapis.com/css?family=Roboto);

/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #182c39;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
  color:white;
  border-radius:5px;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color:#ccccff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color:#b9b9b9;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
}
  
  
  
  
  
  
  
  
  
  
  /*
 * Off Canvas
 * --------------------------------------------------
 */

body {
  padding-top: 50px;
  background-color:#ccccff;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
}

#myCarousel{

}




/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    background:#ecf0f1;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -10%;
  }

  .row-offcanvas-left.active {
    left: 10%;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 60%;
    margin-left: 12px;
	z-index:200;
	

	
  }
}
#lgn1{
	float:left;
}
#lgn{
	float:right;
}
#hd4{
	 text-align: center;
}
#sidebar {
    padding-left:10px;
    margin-top:0px;

}

#headtp{
height:70px;
}
.nav{
padding:7px;
background-color:#182c39;
color:white;
margin-top:7px;

    border-radius: 5px;
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    right: 100%;
    margin-top: -1px;
}
h2{
padding:0px;
}

.li{
	color:#182c39;
}

a#hv:hover{
	color:cyan;
}
a#drp:hover{
	color:cyan;
}

a#drp{
		color:white;
		background-color:#182c39;

}
a#hv{
	color:white;
}
a{
	color:white;
}
a:hover{color:#182c39;}
#about{
	background-color:#182c39;
	color:white;
	border-radius:5px;
	width:97%;
	padding:10px;
font-size:16px;	
	margin:14px;
}
	button.navbar-toggle{
		
	}
button.navbar-toggle.sidebar-toggle{
	float:left;
	margin-left:15px;
	margin-bottom:0px;
}
div.navbar-brand.text-center-left{

}


div#sidebar.sidenav.nav
{
	
	 position: absolute;
  top: 0;
  left:0;
  z-index:1;
  overflow:visible;
  bottom:0;
  right:0;
  height:100%;

}


@media print {
  .container {
    width: auto;
  }
}
div.jumbotron{
	padding-left:0px;
	background-color:#182c39;
	color:white;
	  
}
a.navbar-brand{
	font-size:18px;
	margin:5px;
	padding-top:3%;
	padding-bottom:3%;

	
}


#jumbo {
  padding: 5px;
  
}

#news{
	text-align:center;
	font-size:20px;
}


#annon{
	background-color:#182c39;
	color:white;
	padding:5px;
padding:10px;
margin:10px;
text-decoration:none;
border-radius:5px;
height:300px;
}
#listt{
	background-color:#182c39;
	color:white;
	padding:5px;
padding:10px;
padding-top:10px;
margin:10px;
list-style-type: none;
font-size:18px;

}
#annon1{
	background-color:#182c39;
	color:white;
	padding:5px;
padding:10px;
margin:10px;
float:right;
border-radius:5px;
height:300px;
margin-right:22px;
}

#btnn{
	margin-top:30px;
	margin-right:10px;
	float:right;
}
#gallery{
	margin:0px;
	padding-top:10px;
}

#jus{
	text-align:justify;
}

#prof{
	background-color:#182c39;
	color:white;
	
	float:center;
	border-radius:5px;
	padding:10px;
	border:4px solid white;
	
}
#prof1{
	background-color:#182c39;
	color:white;
	float:center;
	border-radius:5px;
	padding:10px;
	border:4px solid white;
	
}
table{
		border:2px solid white;
		
		
	}
	
	#stud{
		background-color:#182c39;
	color:white;
	
	float:center;
	border-radius:10px;


	border:4px solid white;
	}
	#stud1{
		background-color:#182c39;
	color:white;
	
	float:right;
	border-radius:10px;


	border:4px solid white;
	}
	
	#assess{
	background-color:#182c39;
	color:white;
	float:right;
	border-radius:10px;
	border:4px solid white;
	}
	#dept{
	background-color:#182c39;
	color:white;
	padding:5px;
	float:right;
	border-radius:10px;
	border:4px solid white;
	margin:0px;
	}
	#profins{
	background-color:#182c39;
	color:white;
	padding:5px;
	float:right;
	border-radius:10px;
	border:4px solid white;
	margin-top:30px;

	
	}
	
	.bt-ripple{
	width:150px;}

		
	